DEBUG = True

ALLOWED_HOSTS = ['127.0.0.1']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'similarity',
        'USER': 'similarity',
        'PASSWORD': 'similarity',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
